*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color: #1f2937;
    color: white;
    padding: 30px;
}
header img{
    width: 700px;
    height: 300px;
    border-radius: 4px;
}
.header-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    padding: 10px 120px;
    font-size: 18px;
    color: #E5E7EB;
    cursor: pointer;
}
.header-links .logo{
   margin-right: auto;
   color: #F9FAF8;
   font-size: 24px;
   font-weight: 900;
}

.hero{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 120px;
}
.hero h2{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 10px;
}
.hero p{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}
button{
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: 900;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.information{
    padding: 100px;
    padding-bottom: 150px;
    
}
.information h3{
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}
.information p{
    width: 300px;
    font-size: 24px;
}
.information img{
    width: 300px;
    height: auto;
    border-radius: 12px;
}
.info-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.info1, .info2, .info3, .info4{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.testimonial{
    background-color: #E5E7EB;
    padding: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: rgba(31, 41, 55, 0.7);
    margin: 30px 130px;
}
.author{
    font-size: 24px;
    align-self: flex-end;
    margin-right: 130px;
}

.action{
    margin: 70px;
    background-color: #3882f6;
    padding: 50px 0;
    border-radius: 8px;
    color: #F9FAF8;

    display: flex;
    justify-content: space-evenly;
}
.action h4{
    font-size: 24px;
    font-weight: bold;
}
.action p{
    font-size: 18px;
}
.action button{
    background-color: #3882f6;
    border: 1.5px solid #F9FAF8;
}